@model BloodDonorApp.PL.Models.SampleStationListViewModel

@{
    ViewBag.Title = "View";
    var rowNumber = 1;
}

<div class="container body-content">
    <h1>All sample stations</h1>
    <br />
    <table class="table" style="font-size:150%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Street</th>
                <th scope="col">City</th>
                <th scope="col" style="text-align:center">Actions</th>
            </tr>
        </thead>

        @foreach (var item in Model.SampleStations)
        {
            <tr>
                <td scope="row">@(rowNumber++)</td>
                <td>@item.Name</td>
                <td>@item.Street</td>
                <td>@item.City</td>
                <td class="" style="text-align:center">
                    <button type="button" class="boxed-btn-details" title="Show details for @item.Name" onclick="location.href='@Url.Action("Details", "SampleStation", new { id = item.Id })'">Details</button>
                </td>
            </tr>


        }
    </table>
    <hr />
    <button type="button" class="boxed-btn" title="Add new Hospital" onclick="location.href='@Url.Action("Create", "SampleStation")'">Add new Sample station</button>
</div>
