@model BloodDonorApp.PL.Models.ApplicantListViewModel

@{
    ViewBag.Title = "BDA Applicants";
    var rowNumber = 1;
}

<h2>ApplicantListView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Blood type</th>
            <th scope="col">Email</th>
            <th scope="col" class="">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Applicants)
        {
            <tr>
                <th scope="row">@(rowNumber++)</th>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.BloodType</td>
                <td>@item.Email</td>
                <td class="">
                    <button type="button" class="btn btn-info btn-xs" >Open Modal</button>
                    <button type="button" class="btn btn-info btn-xs" title="Show details for @item.FirstName">Details</button>
                    <button id="deleteBtn_@rowNumber" type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal" title="Delete user" onclick="FillNameToModal('@item.FirstName', '@item.LastName', '@item.Id');">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <input type="hidden" id="userId-hdn" value="" />
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="() => (document.getElementById('modalP').innerHTML = '')">&times;</button>
                <h4 class="modal-title">Are you sure? - This action is irreversible!</h4>
            </div>
            <div id="modalContent" class="modal-body">
                <p id="modalP"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="DeleteUser()">Yes</button>
            </div>
        </div>

    </div>
</div>

<script src="jquery-3.4.1.min.js"></script>
<script>
    function FillNameToModal(name, lastname, id) {
        document.getElementById("modalP").innerHTML = 'Do you really want to delete user <b>' + name + ' ' + lastname + '? </b>';
        $("#userId-hdn").val(id);
    }

    function DeleteUser() {
        var id = $("#userId-hdn").val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteUser", "Applicant")",
            data: { id: id },
            success: function () {
                alert("User has been succesfully removed.");
                $("#userId-hdn").val("");
                $("#modalContent").innerHTML = '';
                //location.reload();
            }           
        });
    }
</script>
