@model BloodDonorApp.PL.Models.ApplicantListViewModel

@{
    ViewBag.Title = "Applicants";
    var rowNumber = 1;
    var isAuthenticated = User.Identity.IsAuthenticated;
    var isAdmin = User.IsInRole("Admin") || User.IsInRole("RootAdmin");
    var visibleFor_cent = isAuthenticated ? "text-align:center;" : "text-align:center; display:none";
    var visibleFor_left = isAuthenticated ? "text-align:left;" : "text-align:center; display:none";
}

<div class="container body-content">
    <h1>All Applicants</h1>
    <br/>
    <table class="table" style="font-size:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col" style="@visibleFor_left">Username</th>
                <th scope="col">Blood type</th>
                <th scope="col">Email</th>
                <th scope="col" style="@visibleFor_left">UUN</th>
                <th scope="col" style="@visibleFor_cent">Actions</th>
            </tr>
        </thead>

        @foreach (var item in Model.Applicants)
        {
            <tr>
                <td scope="row">@(rowNumber++)</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td style="@visibleFor_left">@item.UserName</td>
                <td>@(item.BloodType)</td>
                <td>@item.Email</td>
                <td style="@visibleFor_left">@item.UUN</td>
                <td class="" style="@visibleFor_cent">
                    <button type="button" class="boxed-btn-details" title="Show details for @item.FirstName" onclick="location.href='@Url.Action("Detail", "Applicant", new { id = item.Id })'">Details</button>
                </td>
            </tr>
        }
    </table>
</div>

