@model BloodDonorApp.PL.Models.ApplicantListViewModel

@{
    ViewBag.Title = "ApplicantListView";
    var rowNumber = 1;
}

<h2>Applicants</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Blood type</th>
            <th scope="col">Email</th>
            <th scope="col">IsDeleted</th>
        </tr>
    </thead>

    @foreach (var item in Model.Applicants)
    {
        <tr>
            <td scope="row">@(rowNumber++)</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.BloodType</td>
            <td>@item.Email</td>
            <td>@item.IsDeleted</td>
        </tr>
    }

</table>
