@model BloodDonorApp.BL.EF.DTO.ApplicantShortInfoDto

@{
    ViewBag.Title = "Detail";
    var isAdmin = User.IsInRole("Admin") || User.IsInRole("RootAdmin");
    var visibleFor = isAdmin ? "text-align:left;" : "text-align:center; display:none";
}
<div class="container body-content">
    <h2>Details</h2>
    <div>
        <hr />
        <dl class="dl-horizontal" style="font-size:100%">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UUN):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UUN)
            </dd>

            <dt  style="@visibleFor">
                @Html.DisplayNameFor(model => model.HospitalId):
            </dt>

            <dd style="@visibleFor">
                @Html.DisplayFor(model => model.HospitalId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
        <hr />
    </div>
    <button type="button" class="boxed-btn" title="Browse blood donations" onclick="location.href='@Url.Action("Index", "Applicant")'">Back to List</button>
</div>