@model BloodDonorApp.BL.EF.DTO.CommonUserEditProfileExtendedDto

@{
    ViewBag.Title = "Detail";
}
<div class="container body-content">
    <h2>Detail</h2>
    <div>
        <hr />
        <dl class="dl-horizontal" style="font-size:100%">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MiddleName):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MiddleName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Active):
            </dt>

            <dd id="active">

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Approved):
            </dt>

            <dd id="aprroved">

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDeleted):
            </dt>

            <dd id="deleted">

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HospitalId):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HospitalId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
        <hr />
    </div>
    <button type="button" class="boxed-btn" title="Browse users" onclick="location.href='@Url.Action("Index", "CommonUser")'">Back to List</button>
</div>


<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    var isDeleted = @Model.IsDeleted.ToString().ToLower()
    var isApproved = @Model.IsDeleted.ToString().ToLower()
    var isActive = @Model.IsDeleted.ToString().ToLower()

    $(document).ready(function () {
        if (isDeleted) {
            $("#deleted").append("YES");

        } else {
            $("#deleted").append("NO");
        }
        if (isApproved) {
            $("#approved").append("YES");

        } else {
            $("#approved").append("NO");
        }
        if (isActive) {
            $("#active").append("YES");

        } else {
            $("#active").append("NO");
        }
    });
</script>
