@model BloodDonorApp.PL.Models.BloodDonationListViewModel

@{
    ViewBag.Title = "BloodDonationListView";
    int rowNumber = 1;
    var isAdmin = User.IsInRole("Admin") || User.IsInRole("RootAdmin");
    var visibleFor_cent = isAdmin ? "text-align:center;" : "text-align:center; display:none";
    var visibleFor_left = isAdmin ? "text-align:left;" : "text-align:center; display:none";
}

<div class="container body-content">
    <h1>All blood donations</h1>
    <table class="table" style="font-size:150%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">BloodType</th>
                <th scope="col">Date</th>
                <th scope="col">Id</th>
                <th scope="col" style="@visibleFor_cent">Actions</th>
            </tr>
        </thead>

        @foreach (var item in Model.BloodDonations)
        {
            <tr>
                <td scope="row">@(rowNumber++)</td>
                <td>@item.BloodType</td>
                <td>@item.Date</td>
                <td>@item.Id</td>
                <td class="" style="@visibleFor_cent">
                    <button type="button" class="boxed-btn-details" title="Show details for @item.Id" onclick="location.href='@Url.Action("Detail", "BloodDonation", new { id = item.Id })'">Details</button>
                </td>
            </tr>


        }
    </table>
    <hr />
    <button type="button" class="boxed-btn" style="@visibleFor_cent" title="Add new Hospital" onclick="location.href='@Url.Action("Create", "BloodDonation")'">Add new Blood donation</button>
</div>
