@model BloodDonorApp.BL.EF.DTO.BloodDonationDto

@{
    ViewBag.Title = "Detail";
}

<div class="container body-content">
    <h2>Details</h2>
    <div>
        <hr />
        <dl class="dl-horizontal" style="font-size:140%">
            <dt>
                @Html.DisplayNameFor(model => model.DonorId):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DonorId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DonorName):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DonorName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApplicantId):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicantId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApplicantName):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicantName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SampleStationId):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SampleStationId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SampleStationName):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SampleStationName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SampleVolume):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SampleVolume)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
        </dl>
        <hr />
    </div>
    <button type="button" class="boxed-btn" title="Browse blood donations" onclick="location.href='@Url.Action("BloodDonationListView", "BloodDonation")'">Back to List</button>
</div>
